.has-sign {
    position: relative;
    margin: 0;
    padding: 0 0 0 1.8rem;
}
.has-sign::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
.is-problem::before {
    width: 1.4rem;
    height: 1.4rem;
    background-color: #ff4747;
    border-radius: 50%;
}
.is-process::before {
    width: 0;
    height: 0;
    border-top: 0.7rem solid transparent;
    border-bottom: 0.7rem solid transparent;
    border-left: 1.4rem solid #ffe81c;
}
.is-solution::before {
    width: 1.4rem;
    height: 1.4rem;
    background-color: #14ee56;
}
.image img {
    max-height: 384px;
    width: auto;
}
